footer
    .footer
        .spc_logo_footer
            a(href="index.html")
                img(src="image/logo_dls_04.png", alt="")
        .reddss_footer
            a(href="#")
                i.fab.fa-facebook
            a(href="#")
                i.fab.fa-instagram
            a(href="#")
                i.fab.fa-linkedin
            a(href="#")
                i.fas.fa-envelope
        .menu_footer
            a(href="index.html") home
            a(href="importaciones.html") importaciones
            a(href="productos.html") Productos
            a(href="legal.html") Legal
            a(href="pedido.html") hacer pedido
    .subb_footer
        p Todos los derechos reservados
            span Group DLS Corp


script(src="js/jquery.js")
script(src="js/all.js")
script(src="js/j_dls.js")