header
    .container
        .spc_header
            .logo
                a(href="index.html")
                    img(src="image/logo_dls_03.png", alt="")
            .spc_menu
                .contrl_resnpnns
                    .btn_responsiv.active
                        i.fas.fa-bars
                    .btn_close_menu_responssv
                        i.fas.fa-times
                .menu
                    a.nrml.active(href="index.html") home
                    a.nrml(href="importaciones.html") importaciones
                    a.nrml(href="productos.html") Inventario
                    
                    select
                        option Español
                        option Ingles
                    a.cll(href="pedido.html") hacer pedido