<!DOCTYPE html>
html(lang="es")
    
    include includes/_head

    body
        include includes/_header

        section.c404
            .cntrl_img_404
                img(src="image/img_404.png", alt="")
        
            
                 
        include includes/_footer
        