<!DOCTYPE html>
html(lang="es")
    
    include includes/_head

    body
        include includes/_header
        
        section.detalle_product
            .container
                .spc_detalle_prdct
                    .img_producto
                        img(src="image/gallery/smartphone.png", alt="")
                    .descrip_prodct
                        h1 iPhone X 128Gb
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima vel accusamus magnam praesentium, maxime ullam aliquid ratione sint alias at molestiae ex impedit? Quo ab reiciendis quibusdam dicta? Accusantium adipisci magni tenetur consequatur. Quis quaerat deleniti quo laudantium id. Quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eum tenetur officiis autem earum sunt hic dicta perferendis? Impedit error autem, iure labore deserunt maiores necessitatibus aspernatur sed aliquam repellendus aliquid expedita illum commodi dicta dignissimos ea totam obcaecati nulla nostrum atque ipsam voluptatibus incidunt veniam ducimus. Voluptatum, aut repellat.
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ullam aliquid voluptas dignissimos quasi tempora, saepe voluptatem! Ipsum, itaque assumenda.
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ullam aliquid voluptas dignissimos quasi tempora, saepe voluptatem! Ipsum, itaque assumenda.
                        .spc_price
                            .unidd_detalle
                                .monto_detalle 500$
                                span Unid
                            .lote_detalle
                                .monto_detalle 470$
                                span Lote
                        .spc_pedido
                            a(href="pedido.html") Realizar un pedido




                                
                .spc_relacionados
                    .tiit_e Podria interesarte
                    .list_prcdc_relacionados
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/smartphone.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/speaker.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/camara.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/speaker.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
        
            
                 
        include includes/_footer
        