<!DOCTYPE html>
html(lang="es")
    
    include includes/_head

    body
        include includes/_header
        
        
        .spc_indxx
            .box_sliddrrr
                .slider
                    .content_slider
                        .container
                            .titt Comprar en China  <br>
                                | nunca fue <strong> tan sencillo. </strong>
                            .prev_txt
                                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo ex eos culpa alias, reiciendis ullam eligendi ab quidem incidunt qui, asperiores nam magnam. Corporis, eos minus! Laudantium laborum animi aliquam?
                            a.call_to_action_slider(href="#") Conocer más
                    .imgg_sldrrr
                        img(src="image/gallery/china.jpg", alt="")

                .slider
                    .content_slider
                        .container
                            .titt Comprar en USA  <br>
                                | a un simple <strong> click </strong> de distancia.
                            .prev_txt
                                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo ex eos culpa alias, reiciendis ullam eligendi ab quidem incidunt qui, asperiores nam magnam. Corporis, eos minus! Laudantium laborum animi aliquam?
                            a.call_to_action_slider(href="#") Conocer más
                    .imgg_sldrrr
                        img(src="image/gallery/usa.jpg", alt="")

                .slider
                    .content_slider
                        .container
                            .titt Cobertura logística completa
                            .prev_txt
                                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo ex eos culpa alias, reiciendis ullam eligendi ab quidem incidunt qui, asperiores nam magnam. Corporis, eos minus! Laudantium laborum animi aliquam?
                            a.call_to_action_slider(href="#") Conocer más
                    .imgg_sldrrr
                        img(src="image/gallery/logistica.jpg", alt="")
                
                .slider
                    .content_slider
                        .container
                            .titt since 2011  <br>
                                | <strong> 8 años de trayectoria </strong> nos respaldan
                            .prev_txt
                                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo ex eos culpa alias, reiciendis ullam eligendi ab quidem incidunt qui, asperiores nam magnam. Corporis, eos minus! Laudantium laborum animi aliquam?
                            a.call_to_action_slider(href="#") Conocer más
                    .imgg_sldrrr
                        img(src="image/gallery/trayectoria.jpg", alt="")

        section.spc_catgg
              .container
                .sp_categorias
                    .box_categoria
                        .cntrl_immg
                            .bg_categg
                                img(src="image/gallery/smartphones.jpg", alt="")
                            .prd_catg
                                img(src="image/gallery/smartphone.png", alt="")
                        .contttn_catg
                            .tiitt_ctg Smartphones
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis adipisci quos possimus eaque fugiat, saepe a repudiandae ut recusandae doloremque.
                            a(href="#") Ver
                    .box_categoria
                        .cntrl_immg
                            .bg_categg
                                img(src="image/gallery/gadgets.jpg", alt="")
                            .prd_catg
                                img(src="image/gallery/camara.png", alt="")
                        .contttn_catg
                            .tiitt_ctg Gadgets
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis adipisci quos possimus eaque fugiat, saepe a repudiandae ut recusandae doloremque.
                            a(href="#") Ver
                    .box_categoria
                        .cntrl_immg
                            .bg_categg
                                img(src="image/gallery/otros.jpg", alt="")
                            .prd_catg
                                img(src="image/gallery/speaker.png", alt="")
                        .contttn_catg
                            .tiitt_ctg Otros Dispositivos
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis adipisci quos possimus eaque fugiat, saepe a repudiandae ut recusandae doloremque.
                            a(href="#") Ver
        
        section.pallx
            .tiit_pllx ¿Pensando en importar desde china?
            h3 la solucion esta a un click de distancia
            a(href="#") Contactar
        
        section.ventjss
            .container
                .spc_ventajas 
                    .tiit_ventajas Ventajas de comprar con 
                        span Group dls corp
                    .col_ventajas
                        .sub_ttl_vntjs Seguridad en tu compra
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi, numquam, soluta officia hic libero laudantium deserunt excepturi, blanditiis iusto odit aperiam nesciunt ullam. Magnam cumque voluptate similique, nisi et quidem!
                    .col_ventajas
                        .sub_ttl_vntjs Seguridad en tu compra
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab esse sunt quia quo error aspernatur ipsam. Saepe, reprehenderit quo. Magnam!
                    .col_ventajas
                        .sub_ttl_vntjs Seguridad en tu compra
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aliquam, sunt nobis quae hic ab sequi architecto. Impedit!
                    
                    .spc_btm_more
                        a(href="#") Sobre nuestras politicas
            
                 
        include includes/_footer
        