<!DOCTYPE html>
html(lang="es")
    
    include includes/_head

    body
        include includes/_header

        section.imports
            .container
                .spc_importaciones
                    .formss
                        iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15813.09345245279!2d-72.2332894802246!3d7.76080645000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sve!4v1564087384721!5m2!1ses!2sve', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')

                    .contennt_contacttt
                        .line_info_top_conccct
                            h4 Lorem ipsum dolor sit amet consectetur
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi fugiat aperiam amet reprehenderit dolore, minus illum, suscipit.


                        .line_info_contacttt
                            h5 email:
                            P info@correo.com
                        .line_info_contacttt
                            h5 telefono:
                            P 000 000 000
                        .line_info_contacttt
                            h5 direccion:
                            P Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi fugiat aper Lorem ipsum dolor sit amet consectetur.
                        
                        .spc_btmmm_formmm
                            .btm_formmmmm
                                .cover_linkkksss
                                    span 
                                        i.fas.fa-arrow-right
                                    span Enviar Correo

                        .ventana_formmmm
                            form
                                .btm_close_vntnt
                                    i.fas.fa-times
                                .line_inptt
                                    label Nombre
                                    input(type="text", name="")
                                .line_inptt
                                    label Email
                                    input(type="text", name="")
                                .line_inptt
                                    label Asunto
                                    input(type="text", name="")
                                .line_inptt
                                    label Mensaje
                                    textarea(name="", cols="30", rows="10")
                                .sspppsss_legal
                                    input(type="checkbox", name="")
                                    label He leido y acepto las condiciones.
                                .spc_buttt
                                    button(type="submit") Enviar

                    
                
        
            
                 
        include includes/_footer
        