<!DOCTYPE html>
html(lang="es")
    
    include includes/_head

    body
        include includes/_header
        .top_id_prodctss
            
        section.productos
            .container
                .spc_prdccts
                    .bar_categss
                        .line_categ
                            h5 Categoria
                            .line_c
                                input(type="checkbox", name="")
                                value Telefonos

                            .line_c
                                input(type="checkbox", name="")
                                value Camaras

                            .line_c
                                input(type="checkbox", name="")
                                value PowerBanks

                            .line_c
                                input(type="checkbox", name="")
                                value Speakers
                        .line_categ
                            h5 Marca
                            .line_c
                                input(type="checkbox", name="")
                                value Samsung

                            .line_c
                                input(type="checkbox", name="")
                                value LG

                            .line_c
                                input(type="checkbox", name="")
                                value Canon

                            .line_c
                                input(type="checkbox", name="")
                                value Beats
                        .line_categ
                            h5 Calidad
                            .line_c
                                input(type="checkbox", name="")
                                value Nuevo

                            .line_c
                                input(type="checkbox", name="")
                                value Original

                            .line_c
                                input(type="checkbox", name="")
                                value Refurbished

                            

                    .prdctsss
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/smartphone.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/camara.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/speaker.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/camara.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/speaker.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/smartphone.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/camara.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/speaker.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/camara.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/speaker.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
                        

                        .paginador
                            a(href="#") <
                            a(href="#") 1
                            a(href="#") 2
                            a(href="#") 3
                            a(href="#") 4
                            a(href="#") 5
                            a(href="#") ...
                            a(href="#") >
        
                
        
            
                 
        include includes/_footer
        