<!DOCTYPE html>
html(lang="es")
    
    include includes/_head

    body
        include includes/_header
        .top_id_prodctss
            
        section.productos
            .container
                .spc_prdccts
                    form.bar_categss
                        
                        .line_categ
                            h5 Inventario
                            
                            .line_c
                                input(type="checkbox", name="")
                                label Inventario China

                            .line_c
                                input(type="checkbox", name="")
                                label Inventario USA

                            .line_c
                                input(type="checkbox", name="")
                                label Inventario Latam

                            .line_c
                                input(type="checkbox", name="")
                                label Refurbished
                        .line_categ
                            h5 Categoría
                            
                            .line_c
                                input(type="checkbox", name="")
                                label Telefonos

                            .line_c
                                input(type="checkbox", name="")
                                label Camaras

                            .line_c
                                input(type="checkbox", name="")
                                label PowerBanks

                            .line_c
                                input(type="checkbox", name="")
                                label Speakers
                        .line_categ
                            h5 Marca
                            .line_c
                                input(type="checkbox", name="")
                                label Samsung

                            .line_c
                                input(type="checkbox", name="")
                                label LG

                            .line_c
                                input(type="checkbox", name="")
                                label Canon

                            .line_c
                                input(type="checkbox", name="")
                                label Beats
                        .line_categ
                            h5 Calidad
                            .line_c
                                input(type="checkbox", name="")
                                label Nuevo

                            .line_c
                                input(type="checkbox", name="")
                                label Original

                            .line_c
                                input(type="checkbox", name="")
                                label Refurbished

                            

                    .prdctsss
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/smartphone.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/camara.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/speaker.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/camara.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/speaker.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/smartphone.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/camara.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/speaker.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/camara.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
                        a.box_prodct(href="detalle_producto.html")
                            .top_prd
                                .img_prd
                                    img(src="image/gallery/speaker.png", alt="")
                                .descrpt_prdct
                                    h4 iPhone X 128GB
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dignissimos...
                            .prce
                                .unidd
                                    .monto 500$
                                    span Unid
                                .lote
                                    .monto 470$
                                    span Lote
                        

                        .paginador
                            a(href="#") <
                            a(href="#") 1
                            a(href="#") 2
                            a(href="#") 3
                            a(href="#") 4
                            a(href="#") 5
                            a(href="#") ...
                            a(href="#") >
        
                
        
            
                 
        include includes/_footer
        